@use '../variables' as *;
@use '../mixins' as *;
@use 'sass:color'; 


.calendar {
  margin: 7rem 0;

  &__title {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    text-align: center;
  }

  &__description {
    font-size: 1rem;
    color: $color-text-muted;
    margin-bottom: 1.5rem;
    text-align: center;
  }

  &__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    gap: 1rem;

	button {
	  padding: 0.4rem 0.8rem;
	  border: none;
	  border-radius: 8px;
	  background: $color-accent;
	  color: #fff;
	  cursor: pointer;
	  font-weight: 600;

	  &:hover {
	    background: color.adjust($color-accent, $lightness: -10%);
	  }
	}


    #month-year {
      font-weight: 600;
      font-size: 1.2rem;
    }
  }

  &__weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: 600;
    text-align: center;
    margin-bottom: 0.5rem;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.5rem;
  }

  &__day {
    background: rgb(255 255 255 / 85%);
    backdrop-filter: blur(12px);
    border-radius: 12px;
    padding: 0.5rem;
    min-height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition: 0.3s;

    &.calendar-today {
		/* stylelint-disable-next-line declaration-property-value-no-unknown */
		border: 2px solid $color-accent;

    }
  }

  &__date {
    font-weight: 600;
    margin-bottom: 0.3rem;
  }

  &__class {
    background: linear-gradient(135deg, #7c3aed, #9f7aea);
    color: #fff;
    font-size: 0.8rem;
    padding: 0.2rem 0.4rem;
    border-radius: 6px;
    width: 100%;
    text-align: center;
    margin-bottom: 0.2rem;
  }
}
