@use '../variables' as *;

.header {
  position: fixed; /* stick to top */
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f1e9ff;
  padding: 1rem 0;
  z-index: 100;
  box-shadow: 0 2px 10px rgb(0 0 0 / 5%);
  transition: background 0.3s ease, box-shadow 0.3s ease;

  /* CONTAINER */
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* LOGO */
  .nav__logo {
    font-size: 1.8rem;
    font-weight: 600;
    color: $color-text-main;
  }

  /* NAV LIST */
  .nav__list {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;

    .nav__item {
      position: relative;

      &--has-submenu {
        cursor: pointer;

        .nav__submenu {
          position: absolute;
          top: 100%;
          left: 0;
          padding: 0.5rem 0;
          background: rgb(255 255 255 / 95%);
          backdrop-filter: blur(10px);
          border-radius: 8px;
          box-shadow: 0 10px 20px rgb(0 0 0 / 8%);
          opacity: 0;
          visibility: hidden;
          transform: translateY(10px);
          transition: all 0.3s ease;
          z-index: 50;

          .nav__submenu-item {
            padding: 0.5rem 1rem;

            a {
              color: $color-text-main;
              text-decoration: none;
              display: block;
              transition: color 0.3s;

              &:hover {
                color: $color-accent;
              }
            }
          }
        }

        &:hover .nav__submenu,
        &.active .nav__submenu {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
        }
      }
    }

    .nav__link {
      text-decoration: none;
      color: $color-text-main;
      font-weight: 500;
      padding: 0.5rem 0;
      transition: color 0.3s;

      &:hover,
      &.nav-link-active {
        color: $color-accent;
      }
    }
  }
}