@use '../variables' as *;
@use '../mixins' as *;

.pagination {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;

  &__btn {
    padding: 0.4rem 0.8rem;
    border-radius: 8px;
    border: none;
    background: rgb(255 255 255 / 70%);
    cursor: pointer;

    &.active {
      background: $color-accent;
      color: white;
    }
  }
}
